<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Phurl v0.1</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1 class="center">Phurl v0.1</h1>
    <p class="center">Crea url's amigables, escribiendo html plano.</p>
    <a href="http://balloondev.com" class="center"><img src="http://balloondev.com/assets/img/logo.png" alt="Balloon Development"/></a>

</body>
</html>